<div class="main-content page-m">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">

        <!-- customer group -->
        <div formGroupName="customer" class="form-area">
          <h3>Customer</h3>

          <div class="row">
            <div class="col-md-2"> FirstName</div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="firstName" type="text">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"> LastName</div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="lastName" type="text">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"> Email</div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="email" type="text">
              </div>
            </div>
          </div>
        </div>

        <!-- shipping Address -->

        <div formGroupName="shippingAddress" class="form-area">
          <h3>shipping Address</h3>

          <div class="row">
            <div class="col-md-2"> Country</div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="country">
                  <option>Guinea</option>
                  <option>France</option>
                  <option>Maroc</option>
                </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"> Street</div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="street" type="text">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"> City</div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="city" type="text">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"> State</div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="state">
                  <option>Rhone</option>
                </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"> zipCode</div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="zipCode" type="text">
              </div>
            </div>
          </div>
        </div>

        <!-- Add check box copy shiping to billing -->
        <div class="input-space">
          <label class="au-checkbox">
            <input type="checkbox" (change)="copyShippingAddressToBillingAddress($event)">
            <span class="au-checkmark"></span> Billing Address same as Shipping Address
          </label>
        </div>


        <!-- Billing Address -->

        <div formGroupName="billingAddress" class="form-area">
          <h3>Billing Address</h3>

          <div class="row">
            <div class="col-md-2"> Country</div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="country">
                  <option>Guinea</option>
                  <option>France</option>
                  <option>Maroc</option>
                </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"> Street</div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="street" type="text">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"> City</div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="city" type="text">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"> State</div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="state">
                  <option>Rhone</option>
                </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"> zipCode</div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="zipCode" type="text">
              </div>
            </div>
          </div>
        </div>

        <!-- card information -->
        <div formGroupName="creditCard" class="form-area">
          <h3>Customer</h3>

          <div class="row">
            <div class="col-md-2"> Card Type</div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="cardType">
                  <option>Visa</option>
                  <option>MasterCard</option>
                </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"> Name on Card</div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="nameOnCard" type="text">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"> Card Number</div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="cardNumber" type="text">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"> Security Code</div>
            <div class="col-md-9">
              <div class="input-space">
                <input formControlName="securityCode" type="text">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">Expiration Month</div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="expirationMonth">
                  <option *ngFor="let month of creditMonths">
                    {{month}}
                  </option>
                </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">Expiration Year</div>
            <div class="col-md-9">
              <div class="input-space">
                <select formControlName="expirationYear" (change)="handleMonthsAndYears()">
                  <option *ngFor="let year of creditYears">
                    {{year}}
                  </option>
                </select>
              </div>
            </div>
          </div>


        </div>

        <div class="form-area">
          <h3>Your Order</h3>

          <p>Total Quantity: {{ totalQuantity }}</p>
          <p>Shipping: FREE</p>
          <p>Total Price: {{ totalPrice | currency: 'USD' }}</p>
        </div>


        <!-- submit buton -->
        <div class="text-center">
          <button type="submit" class="btn btn-info">Purchase</button>
        </div>

      </form>
    </div>
  </div>
</div>
